<!DOCTYPE html>
<html>
<head>
  <title>BShulim</title>
  <link href='http://railsgirls.co.il/bootstrap/css/bootstrap.css' rel='stylesheet'>
  <link href='http://railsgirls.co.il/bootstrap/css/bootstrap-theme.css' rel='stylesheet'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<footer>
  <div class='container'>
  	Bishulim
  </div>
</footer>

<body>
<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <a class='navbar-brand' href='/'>Bishulim app</a>
    <ul class='nav navbar-nav'>
      <li class='active'>
        <a href='/recipes'>Recipes</a>
      </li>
    </ul>
  </div>
</nav>
<div class='container'>
<%= yield %>
</div>

</body>
</html>
